/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px; /* Limit the form's maximum width */
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px; /* Default font size for larger screens */
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 600px) {
    h1 {
        margin-top: 100px;
        text-align: center;
        color: #333;
    }
    form{
        margin: 50px auto;
        width: 90%;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="submit"] {
        width: 100%; /* Full width for small screens */
        font-size: 18px; /* Larger font size for small screens */
    }
}
    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: absolute;
        left: 20px; /* Adjust the left position as needed */
        top: 20px; /* Adjust the top position as needed */
        z-index: 2; /* Ensure it's on top of other content */
    }

    .btn-16 {
        border: none;
        color: #000;
    }

    .btn-16:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        z-index: -1;
        box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }

    .btn-16:hover {
        color: #000;
    }

    .btn-16:hover:after {
        left: auto;
        right: 0;
        width: 100%;
    }

    .btn-16:active {
        top: 2px;
    }
 
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    }

